.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 40px;
}

.table-container {
  width: 300%; /* Adjust the width as needed */
  max-height: 600px; /* Adjust the height as needed */
  overflow-y: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #000000;
  position: sticky;
  top: 0;
  color: #ffc7c7; /* Ensure text is visible on dark background */
}

tr:nth-child(even) {
  background-color: #747474; /* Lighter background for even rows */
}

tr:hover {
  background-color: #00ccff; /* Highlight row on hover */
}